####### Misc
.ropeproject
.vagrant*
.fab_tasks~
.ignore
.envrc
.retry
GPATH
GRTAGS
GTAGS

####### Emacs
TODOs.org
.projectile
.dir-locals.el
.projectile-cache*
*.elc

####### macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# LLMs
.aider*
.serena*

.claude*
.mcp.json
CLAUDE*.md

# Local Variables:
# mode: gitignore
# End:
